rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sorteos/{sorteo} {
      allow read: if true;
      allow write: if false;
    }

    match /pronosticos/{pronostico} {
      allow read: if true;
      allow write: if false;
    }

    match /personalizacion/{documento} {
      allow read: if true;
      allow write: if false;
    }

    match /ganadores/{ganador} {
      allow read: if true;
      allow write: if false;
    }

    match /transactions/{transaction} {
      allow read: if false;
      allow write: if false;
    }
  }
}