rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /config/{configDoc} {
      allow read
      allow write: if false
    }
    
    match /sorteos/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /pronosticos/{pronostico} {
      allow read: if true;
      allow write: if false;
    }

    match /personalizacion/{documento} {
      allow read: if true;
      allow write: if false;
    }

    match /ganadores/{ganador} {
      allow read: if true;
      allow write: if false;
    }

    match /transactions/{transaction} {
      allow read: if true;
      allow write: if false;
    }

    match /imgpronosticos/{img} {
      allow read: if true;
      allow write: if false;
    }

    match /lottos/{lotto} {
      allow read: if true;
      allow write: if false;
    }
    
    match /clientes/{cliente} {
      allow read: if true;
      allow write: if true;
      allow create: if true;
      allow delete: if false;
    }

    match /prospectos/ {prospecto} {
    	allow read: if false
      allow write: if false
    }
  }
}